
#contenedor {

background-color: #242424;

color: white;
}


header{
     position:sticky;
     top:0;
     z-index: 1000;
     display: block;
     align-items: center;
     justify-content: space-between; 
     background-Color: #4c63afff;
     padding: 10px;
     text-Align: center;
     color: white;
 



}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#nav {
  background-color:rgb(43, 59, 131);
  padding: 1rem 2rem;
  box-shadow: 0px 0px 2px 1px black;
  

     display: block;
     align-items: center;
     justify-content: space-between; 
    
  
}

#lista {
  list-style: none;
  display: flex;
  gap: 2rem;
}
#item {
  display: inline-block;
}

#link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#link:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
  color: white;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color:white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


#logo {
margin-right: 10px;

width: 80px;
height: auto;
}
#logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
#logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

footer {
  background-color:rgb(43, 59, 131);
  padding: 1rem 2rem;
  box-shadow: 0px 0px 2px 1px black;
  
     margin-top: 20px ;
     display: block;
     align-items: center;
     justify-content: space-between; 
      padding: 5px;
  color: #f4f6fd;
  font-size: 16px;
  
}

footer .copyright {
  text-align: center;
}

footer .linkedin {
    color: white;
    width: 5px;
    text-align: center;
}

